<main class="max-w-6xl mx-auto px-4">
  <div class="flex justify-center text-center">
    <h1 class="text-4xl font-bold mt-20">Hi! I'm Kim and I'm building out a Rails app to play around with some out of the box Rails features!</h1>
  </div>
</main>